<div class="banner">
    <h3>Item Revisions</h3>
</div>

<p>You can view revisions and obsolete items as a <a href="#">list</a> or via a <a href="#">timeline</a>.  You can also add a <a href="#">new replacement item</a>.</p>

<div class="container-fluid">
    <div class="row-fluid clearfix">
        <div class="col-md-2">
            <img src="images/demo_item.jpg" alt="Tshirt" title="Tshirt">
        </div>

        <div class="col-md-4">
            <h5>GC-1300 Rev 1</h5>
            <a href="#">View item</a> |
            <a href="#">Show where used</a>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="effectiveStart">Effective Start Date:</label>
                <span>1/1/2009 12:00PM</span>
            </div>

            <div class="form-group">
                <label for="effectiveEnd">Effective End Date:</label>
                <span>10/30/2011 12:00PM</span>
            </div>
        </div>
    </div>

    <hr>

    <div class="row-fluid clearfix">
        <div class="col-md-2">
            <img src="images/demo_item.jpg" alt="Tshirt" title="Tshirt">
        </div>

        <div class="col-md-4">
            <h5>GC-1300 Rev 0</h5>
            <a href="#">View item</a> |
            <a href="#">Show where used</a>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="effectiveStart">Effective Start Date:</label>
                <span>10/30/2011 12:00PM</span>
            </div>

            <div class="form-group">
                <label for="effectiveEnd">Effective End Date:</label>
                <span>10/30/2012 12:00PM</span>
            </div>
        </div>
    </div>
</div>