<div class="container-fluid">
    <div class="row-fluid clearfix">
        <div class="col-md-4">
            <div class="form-group">
                <label for="status">Status:</label>
                <span>Active</span>
            </div>

            <div class="form-group">
                <label for="uom">Unit of Measure:</label>
                <span>Each</span>
            </div>

            <div class="form-group">
                <label for="revision">Current Revision:</label>
                <span>1</span><br>
                <a href="#">Revision history</a>
            </div>

            <div class="form-group">
                <label>Base Price:</label>
                <span>14.99 USD</span><br>
                <a href="#">Base price currency matrix</a> |
                <a href="#">Complex pricing</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="isPurchased">
                        Is Purchased?
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="isManufactured">
                        Is Manufactured?
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="isSaleable">
                        Is Saleable?
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="isDigital">
                        Is Digital?
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="isUnlimitedQuantity">
                        Is Unlimited?
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="images/demo_item_lg.jpg" style="width: 100%; vertical-align: top;">
        </div>
    </div>
</div>