<div class="banner">
    <h3>Distributors</h3>
</div>

<p>You will find the list of distributors associated with this item below.  You can also <a href="#">add a new distributor</a> at any time.</p>

<div class="container-fluid">
    <div class="row-fluid clearfix">
        <div class="col-md-6">
            <div class="distributor">
                <img src="images/starbucks.gif" alt="Starbucks" title="Starbucks" class="logo">
                <h5>Starbucks</h5>
                <div>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <a href="#">View company</a> |
                <a href="#">Recent sales orders</a> |
                <a href="#">Relationship history</a> |
                <a href="#">Regional map</a><br>

                <span>Accounts for <span class="important">35%</span> of product sales</span><br>
                <span>Southwest U.S. Region</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="manufacturer">
                <div class="no-image logo">no image</div>
                <h5>Dior</h5>
                <div>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <a href="#">View company</a> |
                <a href="#">Recent sales orders</a> |
                <a href="#">Relationship history</a> |
                <a href="#">Regional map</a><br>

                <span>Accounts for <span class="important">25%</span> of product sales</span><br>
                <span>East U.S. Region</span>
            </div>
        </div>
    </div>
</div>