<div class="banner">
    <h3>Pricing</h3>
</div>

<div class="form-group">
    <label for="currency">Currency</label>
    <span>USD</span><br>
    <a href="#">Pricing matrix by currency</a>
</div>

<div class="sub-banner">
    <h4>Pricing Rules and Priorities</h4>
</div>
<p>Initial pricing rules and priorities are defined at the company level.  Changes below only affect this item.</p>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="enableBundling">
                    Enable bundling?
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="enableBulkDiscounts">
                    Enable bulk discounts?
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="enableCommission">
                    Enable commission?
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <label for="pricingPriority1">1st Priority</label>
            <span>Bulk discounts (inclusive)</span>
        </div>

        <div class="form-group">
            <label for="pricingPriority2">2nd Priority</label>
            <span>Bundling (inclusive)</span>
        </div>

        <div class="form-group">
            <label for="pricingPriority3">3rd Priority</label>
            <span>Base price (inclusive)</span>
        </div>
    </div>
</div>

<div class="sub-banner">
    <h4>Item Bundling</h4>
</div>
<p>Select a bundle to modify or <a href="#">create a new bundle</a> to apply pricing to.</p>

<div class="bundles">
    <div class="bundle">
        <h5>Big Government Bundle</h5>
        <span>Contains <a href="#">1</a> other item in bundle</span>
    </div>

    <div class="bundle">
        <h5>Happy Science Bundle</h5>
        <span>Contains <a href="#">3</a> other items in bundle</span>
    </div>
</div>