<h1>Browse Items</h1>


<div class="row">
    <div class="col-md-2">
        <img src="modules/items/images/demo_item.jpg" alt="Tshirt" title="Tshirt">
    </div>

    <div class="col-md-4">
        <h5>GC-1300 Rev 1</h5>
        <a href="#">View item</a> |
        <a href="#">Show where used</a>

    </div>

    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a varius libero. Etiam lectus lorem, elementum ut quam rutrum, consequat varius arcu.</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-2">
        <img src="modules/items/images/demo_item.jpg" alt="Tshirt" title="Tshirt">
    </div>

    <div class="col-md-4">
        <h5>GC-1300 Rev 1</h5>
        <a href="#">View item</a> |
        <a href="#">Show where used</a>

    </div>

    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a varius libero. Etiam lectus lorem, elementum ut quam rutrum, consequat varius arcu.</p>
    </div>
</div>