<div class="banner">
    <h3>Item Descriptions</h3>
</div>

<div class="form-group">
    <label for="language">Language</label>
    <span>English (EN)</span><br>
    <a href="#">Content matrix by language</a>
</div>

<div class="form-group">
    <div class="sub-banner">
        <h4>Brief Description</h4>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a varius libero. Etiam lectus lorem, elementum ut quam rutrum, consequat varius arcu.</p>
</div>

<div class="form-group">
    <div class="sub-banner">
        <h4>Long Description</h4>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium ligula a nunc bibendum mollis. Quisque non ornare est, sit amet mattis lectus. Suspendisse leo diam, convallis id scelerisque vel, congue vitae orci. </p>
    <p>Nullam sit amet dolor porta, varius dolor nec, consequat quam. Duis non turpis vitae massa molestie aliquam. Vivamus euismod sem id lacus ullamcorper tincidunt. Phasellus facilisis justo a quam fringilla scelerisque. Donec vel consectetur enim, ac tincidunt leo. Phasellus vehicula erat et feugiat pellentesque.</p>
</div>

<div class="form-group">
    <div class="sub-banner">
        <h4>Html</h4>
    </div>
    <pre>&lt;div class="item"&gt;Here is information in html about the item.&lt;/div&gt;</pre>

</div>