<div class="banner">
    <h3>Images &amp; Media</h3>
</div>

<p><a href="#">Upload images</a>, <a href="#">videos</a> and other media content to be associated with this item.</p>

<div class="sub-banner">
    <h4>Images</h4>
</div>

<div class="images">
    <div class="image">
        <img src="modules/items/images/demo_item.jpg" alt="Primary Large" title="Primary Large"><br>
        <span>Primary Large</span>
    </div>

    <div class="image">
        <img src="modules/items/images/demo_item.jpg" alt="Primary Medium" title="Primary Medium"><br>
        <span>Primary Medium</span>
    </div>

    <div class="image">
        <img src="modules/items/images/demo_item.jpg" alt="Primary Small" title="Primary Small"><br>
        <span>Primary Small</span>
    </div>

    <div class="image">
        <img src="modules/items/images/demo_item.jpg" alt="Primary Receipt" title="Primary Receipt"><br>
        <span>Primary Receipt</span>
    </div>

    <div class="image">
        <img src="modules/items/images/demo_item.jpg" alt="Alternate 1" title="Alternate 1"><br>
        <span>Alternate 1</span>
    </div>

    <div class="image">
        <img src="modules/items/images/demo_item.jpg" alt="Alternate 2" title="Alternate 2"><br>
        <span>Alternate 2</span>
    </div>
</div>

<div class="sub-banner">
    <h4>Videos</h4>
</div>

<div class="videos">
    <div class="video">
        <img src="modules/items/images/demo_item_video.jpg">
    </div>

    <div class="video">
        <img src="modules/items/images/demo_item_video2.jpg">
    </div>
</div>

<div class="sub-banner">
    <h4>360 Interactive</h4>
</div>

<i>No 360 submissions uploaded yet.</i>