<div class="banner">
    <h3>Manufacturers</h3>
</div>

<p>You will find the list of manufacturers associated with this item below.  You can also <a href="" data-toggle="modal" data-target="#addManufacturerModal">add a new manufacturer</a> at any time.</p>

<div class="manufacturers">
    <div class="row">
        <div class="col-md-6">
            <div class="manufacturer">
                <img src="modules/items/images/starbucks.gif" alt="Starbucks" title="Starbucks" class="logo">
                <h5>Starbucks</h5>
                <div>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <a href="#">View company</a> |
                <a href="#">Recent purchase orders</a> |
                <a href="#">Relationship history</a> |
                <a href="#">Contacts</a><br>

                <span>Accounts for <span class="important">75%</span> of product</span><br>
                <span>2 week manufacturing lead time</span><br>
                <strong>Preferred</strong>
            </div>
        </div>

        <div class="col-md-6">
            <div class="manufacturer">
                <div class="no-image logo">no image</div>
                <h5>NTN Build'Em</h5>
                <div>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <a href="#">View company</a> |
                <a href="#">Recent purchase orders</a> |
                <a href="#">Relationship history</a> |
                <a href="#">Contacts</a><br>

                <span>Accounts for <span class="important">25%</span> of product</span><br>
                <span>2 week manufacturing lead time</span>
            </div>
        </div>
    </div>
</div>