<div class="banner">
    <h3>Inventory Quantity &amp; Locations</h3>
</div>

<p>Displays inventory quantities and corresponding <a href="#">locations</a>.  You can <a href="#">transfer</a> or <a href="#">receive</a> inventory into or out of locations.</p>

<div class="row">
    <div class="col-md-6">
        <div class="sub-banner">
            <h4>Locations</h4>
        </div>
        <table class="table">
            <tr>
                <td>Miami Warehouse</td>
                <td>1200 EA</td>
            </tr>
            <tr>
                <td>Naples Warehouse</td>
                <td>900 EA</td>
            </tr>
            <tr>
                <td>Consigned Supply</td>
                <td>300 EA</td>
            </tr>
            <tr>
                <td>Returns</td>
                <td>25 EA</td>
            </tr>
            <tr>
                <td>Rejects / Hold</td>
                <td>3 EA</td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <img src="modules/items/images/demo_chart.png" alt="Locations" title="Locations" style="width: 100%;">
    </div>
</div>