/* bootstrap override */

form .form-group div[class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
}

form .form-group div[class*='col-']:first-of-type {
    padding-right: 15px;
}

form label {
    display: block;
}

.editable {
    color: green;
    text-decoration: none;
    border-bottom: 1px dashed green;
}