.banner {
    padding: 10px;
    color: #fff;
    margin-bottom: 15px;
    
    background: #b3dced;
background: -moz-linear-gradient(top,  #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee));
background: -webkit-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
background: -o-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
background: -ms-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 );


    border: 1px solid #008bbc;
    border-radius: 5px;
}
.banner h1, .banner h2, .banner h3, .banner h4, .banner h5 {
    margin: 0px;
    padding: 0px;
}

.bundles {
}

.bundle {
    display: inline-block;
    width: 33%;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 15px;
}

.categories {
}

.category {
    display: inline-block;
    width: 33%;
    padding: 10px;
    background-color: #d8e0e9;
    border-radius: 15px;
}

.distributor {
}
.distributor .logo {
    float: left;
    margin-right: 15px;
    width: 50px;
}

.important {
    color: red;
}

.manufacturer {
}
.manufacturer .logo {
    float: left;
    margin-right: 15px;
    width: 50px;
}

.no-image {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

.quick-jump {
    float: right;
}

.shade {
    background-color: #f1f1f1;
}

.sub-banner {
    background-color: #e9e9e9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.sub-banner h1, .sub-banner h2, .sub-banner h3, .sub-banner h4, .sub-banner h5 {
    margin: 0px;
    padding: 0px;
}